.recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}
.recipe {
  border: solid gray;
  margin: 8px;
  width: 150px;
}
.recipe img {
  width: 150px;
}
ul {
  text-align: left;
}
.selected-recipe {
  text-align: left;
  width: 330px;
}
.search-results {
  display: flex;
  overflow-x: scroll;
  height: 500px;
}
