.user-account-page {
  display: flex;
}
.user-nav {
  width: 200px;
  max-height: 100vh;
  border-right: 1px solid brown;
}
.user-info {
  width: 100%;
}
.user-nav div {
  width: 100%;
  padding: 10px 0px 10px 0px;
  transition: all linear 0.3s;
}
.user-nav div:hover {
  background: gray;
  cursor: pointer;
  color: #fff;
}
.user-nav a {
  width: 100%;
}
