.user-account-page {
  display: flex;
}
.user-nav {
  width: 200px;
  max-height: 100vh;
  border-right: 1px solid brown;
}
.user-info {
  width: 100%;
}
.user-nav div {
  width: 100%;
  transition: all linear 0.3s;
}
.user-nav div:hover {
  background: gray;
  cursor: pointer;
  color: #fff;
}
.user-nav button {
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: solid transparent;
}
@media screen and (max-width: 600px) {
  .user-account-page {
    display: block;
  }
  .user-nav {
    width: 100%;
  }
}
