.form-container {
  padding: 3vmin;
  background-color: var(--tan-1);
  border: 0.1vmin solid var(--tan-3);
  border-radius: 1vmin;
}
.form-container form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.25vmin;
  color: var(--text-light);
}

.form-container label {
  font-size: 2vmin;
  display: flex;
  align-items: center;
}

.form-container input {
  padding: 1vmin;
  font-size: 2vmin;
  border: 0.1vmin solid var(--tan-3);
  border-radius: 0.5vmin;
  color: var(--text-dark);
  background-image: none !important; /* prevent lastpass */
  outline: none;
}
.form-container input:focus {
  border-color: var(--blue);
}
.form-container button,
a.button {
  margin: 1vmin;
  padding: 1vmin;
  color: var(--white);
  background-color: var(--blue);
  font-size: 2vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: 0.1vmin solid var(--tan-2);
  border-radius: 0.5vmin;
  outline: none;
  cursor: pointer;
}

.form-container button.btn-sm {
  font-size: 1.5vmin;
  padding: 0.6vmin 0.8vmin;
}

.form-container button.btn-xs {
  font-size: 1vmin;
  padding: 0.4vmin 0.5vmin;
}

.form-container button:disabled,
form:invalid button[type='submit'] {
  cursor: not-allowed;
  background-color: var(--tan-4);
}

.form-container button[type='submit'] {
  grid-column: span 2;
  margin: 1vmin 0 0;
}
